.block { display: block !important; }

.width-100 { width: 100% !important; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.ContentContainer {
  margin: 0 auto;
}
@include bp-iPad {
  .ContentContainer {
    width: 95%;
    max-width: 1200px;
  }
}
