body {
  font-family: 'Juicebox', 'Open Sans', 'Avenir', 'Helvetica', sans-serif;
  background-color: #F3EFE4;
}

html {
  min-height: 100vh;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  color: $white;
}

.uppercase {
  text-transform: uppercase;
}

.muted {
  opacity: .4;
}

.SectionTitle {
  position: relative;
  z-index: -1;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: -28px;
  margin-left: -$space3;
  color: rgba($gold, .15);
}
@include bp-iPad {
  .SectionTitle {
    font-size: 120px;
    margin-bottom: -47px;
    margin-left: -$space4;
  }
}

.fade-enter-active { transition: all .4s ease 0s; }
.fade-leave-active { transition: all .4s ease 0s; }
.fade-enter, .fade-leave-to { opacity: 0; transform: translateY($space3); }
